<!doctype html>
<html class="no-js" lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Optico HTML Template</title>
   <meta name="robots" content="noindex, follow" />
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Favicon -->
   <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
   <!-- CSS
        ============================================ -->

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <!-- Fontawesome -->
   <link rel="stylesheet" href="css/fontawesome.css">
   <!-- Flaticon -->
   <link rel="stylesheet" href="css/flaticon.css">
   <!-- optico Icons -->
   <link rel="stylesheet" href="css/optico-icons.css">
   <!-- Themify Icons -->
   <link rel="stylesheet" href="css/themify-icons.css">
   <!-- Slick -->
   <link rel="stylesheet" href="css/slick.css">
   <!-- Slick Theme -->
   <link rel="stylesheet" href="css/slick-theme.css">
   <!-- Pretty Photo -->
   <link rel="stylesheet" href="css/prettyPhoto.css">
   <!-- Twentytwenty -->
   <link rel="stylesheet" href="css/twentytwenty.css">
   <!-- Shortcode CSS -->
   <link rel="stylesheet" href="css/shortcode.css">
   <!-- Base CSS -->
   <link rel="stylesheet" href="css/base.css">
   <!-- Style CSS -->
   <link rel="stylesheet" href="css/style.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
   <!-- page wrapper -->
   <div class="page-wrapper">
      <!-- Header Main Area -->
      <header class="site-header header-style-1">
         <div class="pre-header">
            <div class="container">
               <div class="d-flex justify-content-between  align-items-center">
                  <div class="pre-header-left">
                     <ul class="top-contact">
                        <li><i class="optico-icon-location-pin"></i>7501 Carrlton Cuevas Rd, Gulfport, MS, 395503
                        </li>
                     </ul>
                  </div>
                  <div class="pre-header-right">
                     <ul class="top-contact d-inline">
                        <li><i class="optico-icon-clock"></i>Mon - Sat 8.00 - 18.00</li>
                     </ul>
                     <ul class="social-icons d-inline">
                        <li><a target="_blank" href="#" data-tooltip="Facebook"><i class="optico-icon-facebook"></i></a>
                        </li>
                        <li><a target="_blank" href="#" data-tooltip="Twitter"><i class="optico-icon-twitter"></i></a>
                        </li>
                        <li><a target="_blank" href="#" data-tooltip="Flickr"><i class="optico-icon-flickr"></i></a>
                        </li>
                        <li><a target="_blank" href="#" data-tooltip="LinkedIn"><i class="optico-icon-linkedin"></i></a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="site-header-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center">
                            <div class="site-branding flex-grow-1">
                                <a href="">
                                    <img class="logo-img" alt="optico"
                                         src="images/logo-dark.png">
                                </a>
                            </div>
                            <div class="site-navigation ml-auto">
                                <nav class="main-menu navbar-expand-xl navbar-light">
                                    <div class="navbar-header">
                                        <!-- Togg le Button -->
                                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                                data-target="#navbarSupportedContent"
                                                aria-controls="navbarSupportedContent" aria-expanded="false"
                                                aria-label="Toggle navigation">
                                            <span class="fa fa-bars"></span>
                                        </button>
                                    </div>
                                    <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                        <ul class="navigation clearfix">
                                            <li class=""><a
                                                    href="">Home</a>
                                            </li>
                                            <li class="dropdown ">
                                                <a href="#">Blogs</a>
                                                <ul>
                                                    <li><a href="">Optometry</a></li>
                                                    <li><a href="">Opticianry</a></li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="">Courses</a>
                                            </li>
                                            <li class="dropdown ">
                                                <a href="">Services</a>
                                                <ul>
                                                    <li><a href="/about-us">About</a></li>
                                                    <li><a href="#">Study Tips</a></li>
                                                    <li><a href="#">Visual Acuity Chart</a></li>
                                                    <li><a href="#">Treatments</a></li>
                                                    <li><a href="#">Our Doctors</a></li>
                                                    <li><a href="#">Doctor Single</a></li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="/contact-us">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="menu-right-box d-flex align-items-center">
                                <a href="#" class="search-btn"><i class="optico-icon-search-1"></i></a>
                                <div class="header-button">
                                    <a href="/dashboard" class="btn btn-outline">APPOINTMENT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </header>
      <!-- Header Main Area End Here -->